.single_post_container {
  border: solid rgb(177, 177, 177) 1px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto;
}

.single_post_user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile_photo {
  border-radius: 50%;
  padding: 10px;
}

.display_image {
  max-width: 100%;
  max-height: 100%;
}

.description {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.description_user_name > p {
  font-weight: 900;
}

.view_all_comments{
    color:#8e8e8e;
}

.testing {
  color: aqua;
}
.usernames-link {
  font-weight: bold;
  font-size: 15px;
}
.usernames-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.comment-input-bar {
  width: 90%;
}

.comment-submit-btn {
  background-color: transparent;
  color: #2D66E9;
  border: none;
margin-left: 8px;
font-weight: bolder;
cursor: pointer;
}
.comment-submit-btn:disabled {
  font-weight: bolder;
background-color: transparent;
color: #81A6FC;
border: none;
margin-left: 8px;
cursor: default;
}
.more-less-btn {
  background-color: transparent;
  border: none;
  color: darkgray;
  cursor: pointer;
}