.single_post_container {
  border: solid rgb(177, 177, 177) 1px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto;
}

.single_post_user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile_photo {
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: auto;
}

.display_image {
  max-width: 100%;
  max-height: 100%;
}

.description {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.description_user_name  {
  font-weight: 900;
}

.description_content {
  padding: 10px;
}

.view_all_comments{
    color:#8e8e8e;
    cursor: pointer;
}


.usernames-link {
  font-weight: bold;
  font-size: 15px;

}
.usernames-link:hover {
  cursor: pointer;
  text-decoration: none;
}

.comment-input-bar {
  width: 87%;
}

.comment-submit-btn {
  background-color: transparent;
  color: #2D66E9;
  border: none;
margin-left: 8px;
font-weight: bolder;
cursor: pointer;
}
.comment-submit-btn:disabled {
  font-weight: bolder;
background-color: transparent;
color: #81A6FC;
border: none;
margin-left: 8px;
cursor: default;
}
.more-less-btn {
  background-color: transparent;
  border: none;
  color: darkgray;
  cursor: pointer;
}

.single_post_user_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 5px;
  width: 30px;
  height: 30px;
}

.single_post_user_btn:hover {
  color: grey;
}

.liked {
  color: red;
}

.liked:hover {
  color: red;
}

.operation {
  display: flex;
  align-items: center;
  justify-content: left;
}

.user_img_cont {
  display: flex;
  padding-bottom: 3%;
  padding-right: 3%;
  cursor: pointer;
  position: relative;
}

.u-g-i {
  width: 300px;
  height: 300px;
}

.gal-img-info {
  display: none;
  width: 300px;
  height: 300px;
}

.gal-img-info li {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
}

.gal-img-likes {
  margin-right: 30px;
}

.user_img_cont:hover .gal-img-info{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  position: absolute;
}

.likes > p {
  padding: 10px;
}

.view_all_comments {
  padding: 10px;
}

.view_all_comments_container {
  padding: 10px;
}

.comment-input-bar {
  padding: 10px;
}
