.post_detail_container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "image post";
  gap: 10px;
  height: 100%;
}
.images_container {
  grid-area: image;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  position: relative;
  object-fit: cover;
  background-color: black;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.post_info {
  grid-area: post;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.user_info {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
  padding: 5px;
  margin-bottom: 5px;
  align-items: center;
  gap: 8px;
  font-weight: bolder;
}

.profile_image {
  border-radius: 50%;
  width: 30px;
  height: auto;
}

.images_review {
  height: 100%;
  width: 800px;
  object-fit: cover;
  z-index: 0;
}

.imageArrow {
  display: block;

  z-index: 10;
}
.nxtArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
  position: absolute;
  background-color: none;
  width: 50px;
  height: 50px;
  right: 0;
}
.preArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
  position: absolute;
  background-color: none;
  width: 50px;
  height: 50px;
  left: 0;

}
.description_info {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-bottom: 5px;
  align-items: center;
  gap: 8px;
  font-weight: bolder;
}
.description_info > p {
  font-weight: normal;
}

.detailed-comment-area {
  overflow: auto;
  height: 95%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.detailed-comment-area::-webkit-scrollbar {
  display: none;
}

.single-comment {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.single-comment-div{
  width: 90%;

}

.likes-div{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 10%;
}

.comments-delete-btn {
  color: #ff3a41;
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.comment-pfp {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.comment-container {
  display: flex;
  height: 100%;
}

.comment-input-container {
  margin-bottom: 0;
  padding-bottom: 0;
  height: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.comment-input-bar {
  width: 90%;
  height: 100%;
  outline: none;
  border: none;
}

.single_comment_like {
  position: absolute;
  bottom: 0;
  display: flex;
  font-size: 40px;
  color: aqua;
}
