.follow-cont {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.follow-div {
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.follow-list {
    margin: 20px;
    border-bottom: 1px solid black;
    padding: 20px;
}


.f-l-c {
    display: flex;
}

.f-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.f-d-c {
    margin-left: 20px;
}

.f-d-u {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.f-d-f {
    font-size: 16px;
    color: gray;
    margin-top: 7px;
    margin-bottom: 7px;
}

#remv-btn {
    margin: 10px;
    margin-left: 50px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    padding: 6px;
    font-weight: bold;
    background-color: white;
    font-size: 14px;
}
