#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  scrollbar-width: none;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

#modal-content {
  position: absolute;
  background-color: white;
  height: fit-content;
  border-radius: 5px;
  width: fit-content;
  display: flex;
  padding: 20px;
  justify-content: center;
}

#edit {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  outline: none;
  padding: 15px;
  height: 650px;
  width: 1200px;
  border-radius: 5px;
}
#modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: small;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  #modal-content {
    position: absolute;
    background-color: white;
    height: 80%;
    border-radius: 5px;
    width: auto;
    display: flex;
    padding: 20px;
    justify-content: center;
  }
  
  #edit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    outline: none;
    padding: 15px;
    height: 80%;
    width: auto;
    border-radius: 5px;
  }
}