
.prof-cont {
   
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5%;
}

.dis-pic-cont {
  margin: 50px;
}

#dis-pic {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.prof-details {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.tot-count {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.name-fol {
    display: flex;
}

.user-gallery-cont {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}
